html {
    background-color: rgb(193, 189, 181);
}

.counter {
    width: 30%;
    padding: 1%;
    margin: 0 auto;
    max-height: inherit;
}

.countDisplay {
    background-color: rgb(32, 30, 33);
    color: white;
    font-size: 200px;
    margin: 0 auto;
    padding: 30% 10%;
    display: block;
    width: inherit;
    max-height: 300px;
    text-align: center;
}

button {
    background-color: 	rgb(33, 44, 68);
    margin:  0 auto;
    padding: 1% 1%;
    width: 100%;
    font-size: 30px;
    color: white;
}
