.loginData, button {
    width: 50%;
    margin: 20px auto;
}

.greeting {
    font-size: 2rem;
    padding: 1%;
    margin: 3% 2%;
}

.myContainer {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}